policy_module(subchain, 1.100.1)

########################################
#
# Declarations
#

type subchain_t;
type subchain_exec_t;
init_daemon_domain(subchain_t, subchain_exec_t)

permissive subchain_t;

type subchain_initrc_exec_t;
init_script_file(subchain_initrc_exec_t)

type subchain_conf_t;
files_type(subchain_conf_t)

type subchain_var_lib_t;
files_type(subchain_var_lib_t)

type subchain_var_run_t;
files_type(subchain_var_run_t)

type subchain_port_t;
corenet_port(subchain_port_t)

########################################
#
# subchain local policy
#
allow subchain_t self:process { fork };

allow subchain_t self:fifo_file rw_fifo_file_perms;
allow subchain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(subchain_t, subchain_conf_t, subchain_conf_t)
manage_files_pattern(subchain_t, subchain_conf_t, subchain_conf_t)

manage_dirs_pattern(subchain_t, subchain_var_lib_t, subchain_var_lib_t)
manage_files_pattern(subchain_t, subchain_var_lib_t, subchain_var_lib_t)
files_var_lib_filetrans(subchain_t, subchain_var_lib_t, { dir file })

manage_dirs_pattern(subchain_t, subchain_var_run_t, subchain_var_run_t)
manage_files_pattern(subchain_t, subchain_var_run_t, subchain_var_run_t)

sysnet_dns_name_resolve(subchain_t)
corenet_all_recvfrom_unlabeled(subchain_t)

allow subchain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(subchain_t)
corenet_tcp_sendrecv_generic_node(subchain_t)
corenet_tcp_sendrecv_all_ports(subchain_t)
corenet_tcp_bind_generic_node(subchain_t)

gen_require(`
    type subchain_port_t;
')
allow subchain_t subchain_port_t:tcp_socket name_bind;

gen_require(`
    type subchain_port_t;
')
allow subchain_t subchain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(subchain_t)

files_read_etc_files(subchain_t)

miscfiles_read_localization(subchain_t)

sysnet_dns_name_resolve(subchain_t)

allow subchain_t subchain_exec_t:file execute_no_trans;
allow subchain_t self:process setsched;
corecmd_exec_ls(subchain_t)
corenet_tcp_connect_http_port(subchain_t)
dev_read_urand(subchain_t)
fs_getattr_xattr_fs(subchain_t)
kernel_read_system_state(subchain_t)
